// http://www.lets-develop.com/html5-html-css-css3-php-wordpress-jquery-javascript-photoshop-illustrator-flash-tutorial/java-script-jquery-j-query-javascript-programming/animate-background-size-css-jquery-create-zoom-effect/

.options-box {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.options-box:hover {
    background-size: 110% 110%;
}